<?php get_header(); ?>

<?php get_template_part('gnav'); ?>

<div class="c-heading c-heading--mt">
    <h2 class="c-heading__title">お知らせ一覧</h2>
</div>

<?php
    $args = array(
        'posts_per_page' => 3,
        'post_type' => 'info'
    );
    $posts = get_posts( $args );
?>
<div class="l-section c-list">
    <div class="c-list__items">
        <?php get_template_part('loop-info'); ?>
    </div>

    <?php if(function_exists("pagination")) pagination($additional_loop->max_num_pages); ?>
</div>

<?php get_footer(); ?>