<div class="c-panel">
    <?php wp_nav_menu( array(
        'theme_location' => 'company',
        'container'      => '',
        'menu_class'     => '',
        'items_wrap'     => '<ul class="%2$s">%3$s</ul>',
    ) ); ?>
    <?php get_template_part('loop-item'); ?>
</div>

<footer class="c-footer">
    <aside class="c-pagetop">
        <div class="c-pagetop__icon"></div>
        <a href="javascript:void(0);" class="c-pagetop__btn js-pagetop-btn">Page Top</a>
    </aside>

    <p class="c-copyright">&copy; 2019 <?php bloginfo('name'); ?></p>
</footer>

<aside class="c-overlay js-overlay">
    <span class="c-loading"></span>
</aside>
</body>
</html>