<%- include('./common/head', {title:'top page'}) %>

<div class="l-hero c-hero">
    <div class="c-hero__heading">
        <h1 class="c-hero__title">SITE TITLE</h1>
    </div>

    <p class="c-hero__desc">This is description area.</p>
</div>

<%- include('./common/gnav') %>

<div class="l-section c-heading">
    <h3 class="c-heading__title">このサイトについて</h3>
    <p class="c-heading__desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
</div>

<div class="l-section c-card">
    <div class="c-card__items">
        <a href="card.html" class="c-card__item">This is Card area.</a>
        <a href="card.html" class="c-card__item">This is Card area.</a>
        <a href="card.html" class="c-card__item">This is Card area.</a>
        <a href="card.html" class="c-card__item">This is Card area.</a>
        <a href="card.html" class="c-card__item">This is Card area.</a>
        <a href="card.html" class="c-card__item">This is Card area.</a>
    </div>
</div>

<div class="l-section c-heading">
    <h3 class="c-heading__title">Information</h3>
</div>

<div class="l-section c-list">

    <div class="c-list__items">
        <a href="information.html" class="c-list__item">List area 1.</a>
        <a href="information.html" class="c-list__item">List area 2.</a>
        <a href="information.html" class="c-list__item">List area 3.</a>
    </div>
</div>

<div class="c-panel">
    <a href="panel.html" class="c-panel__item">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item c-panel__item--sub">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item c-panel__item--sub">This is Panel area.</a>
</div>

<%- include('./common/footer') %>