<?php $args = array(
    'numberposts' => 3,
    'post_type' => 'info'
);
$posts = get_posts( $args );
if( $posts ) : foreach( $posts as $post ) : setup_postdata( $post ); ?>
    <a href="<?php the_permalink(); ?>" class="c-list__item" id="post-<?php the_ID(); ?>">
        <?php the_title(); ?>
    </a>
    <?php the_post_thumbnail(); ?>
    <?php endforeach; ?>
    <?php else : ?>
    <p class="c-list__item" id="post-<?php the_ID(); ?>">
        アイテムはまだありません。
    </p>
<?php endif; ?>