<%- include('./common/head', {title:'panel page'}) %>

<div class="l-catch c-catch">
    <h1 class="c-catch__title">コンテンツについて</h1>
</div>

<%- include('./common/gnav') %>

<div class="l-section c-heading">
    <h3 class="c-heading__title">コンテンツについて</h3>
    <p class="c-heading__desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
</div>

<div class="l-section">
    <div class="c-article">
        <div class="c-article__image">
            <img src="http://satyr.io/640x320" alt="" class="c-article__thumb">
        </div>
        
        <div class="c-article__detail">
            <h4 class="c-article__title">タイトル</h4>
            <p class="c-article__desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
        </div>
    </div>

    <div class="c-article">
        <div class="c-article__image">
            <img src="http://satyr.io/640x320" alt="" class="c-article__thumb">
        </div>
        
        <div class="c-article__detail">
            <h4 class="c-article__title">タイトル</h4>
            <p class="c-article__desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
        </div>
    </div>

    <div class="c-article">
        <div class="c-article__image">
            <img src="http://satyr.io/640x320" alt="" class="c-article__thumb">
        </div>
        
        <div class="c-article__detail">
            <h4 class="c-article__title">タイトル</h4>
            <p class="c-article__desc">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
        </div>
    </div>
</div>

<div class="c-panel">
    <a href="panel.html" class="c-panel__item">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item c-panel__item--sub">This is Panel area.</a>
    <a href="panel.html" class="c-panel__item c-panel__item--sub">This is Panel area.</a>
</div>

<%- include('./common/footer') %>