.c-catch {
    position: relative;

    background: $secondary-color;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    width: 100%;
    height: 240px;

    @include mq-down('md'){
        height: 180px;
    }

    &__title {
        position: absolute;
        bottom: 42px;
        left: 42px;

        background: $white;

        padding: 16px;

        font-size: 42px;
        color: $black;

        border-left: 4px solid $black;

        @include mq-down('md'){
            bottom: 24px;
            left: 24px;

            padding: 8px;
    
            font-size: 32px;
        }
    }
}