$heroContentSize: 320px;

.l-hero {
    width: 100%;
    height: 100vh;
}

.c-hero {
    @include fx-c;
    
    position: relative;

    background: url(/images/bg.jpg) no-repeat center center;
    background-size: cover;

    border: 24px solid $primary-color;
    box-sizing: border-box;

    &__heading {
        @include fx-c;

        background: $white;

        max-width: $heroContentSize;
        max-height: $heroContentSize;
        min-width: 240px;
        width: percentage(1 / 3);
        height: percentage(1 / 3);

        border: 8px solid $primary-color;
        box-sizing: border-box;
    }

    &__title {
        font-size: 32px;
    }

    &__desc {
        position: absolute;
        left: 32px;
        bottom: 32px;

        padding: 12px;

        border-left: 4px solid $primary-color;
    }
}