.c-panel {
    margin-top: 84px;

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex-grow: 1;
        flex-basis: percentage(1 / 3);
        
        background: $primary-color;

        text-align: center;

        @include mq-down('md'){
            flex-basis: 100%;
        }

        &:nth-child(odd) {
            background: $secondary-color;
        }
    }

    &__link {
        position: relative;

        display: block;

        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;

        line-height: 160px;
        color: $white;

        transition: opacity .2s;

        @include mq-down('md'){
            line-height: 82px;
        }

        &::before {
            content: '';

            display: block;

            position: absolute;
            top: 0;
            left: 0;

            background: rgba(0, 0, 0, .3);

            width: 100%;
            height: 100%;
        }

        &:hover {
            opacity: .67;
        }

        &-inner {
            position: relative;
        }
    }
}