.l-panel {}
.c-panel {
    display: flex;
    flex-wrap: wrap;

    &__item {
        @include fx-c;

        flex-grow: 1;
        flex-basis: percentage(1 / 3);
        
        background: $primary-color;

        height: 120px;

        color: $white;

        transition: opacity .2s;

        &--sub {
            flex-basis: percentage(1 / 3);
            background: $secondary-color;
        }

        @include mq-down('md'){
            flex-basis: 100%;
            height: 82px;

            &--sub {
                flex-basis: percentage(1 / 2);
            }
        }


        &:hover {
            opacity: .67;
        }
    }
}