.c-panel {
    & ul {
        display: flex;
        flex-wrap: wrap;
    }

    & li {
        flex-grow: 1;
        flex-basis: percentage(1 / 3);

        text-align: center;

        @include mq-down('md'){
            flex-basis: 100%;
        }
    }

    & a {
        display: block;
        
        background: $secondary-color;

        line-height: 120px;
        color: $white;

        transition: opacity .2s;

        @include mq-down('md'){
            line-height: 82px;
        }

        &:hover {
            opacity: .67;
        }
    }
}